@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

body {
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  font-size: 16px;
  margin: 0;
}
a {
  color: $white;
  transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;

  &:hover {
    color: $yellow;
  }
}
input,
button {
  outline: none;
  border: none;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
  max-width: 1140px;

  &--sm {
    max-width: 824px;
  }
}
.text__right {
  text-align: right;
}
.visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title {
  font-size: 36px;
  font-family: $font-acccent;
  color: $yellow;
  font-weight: 700;
}
.link__bold {
  color: $yellow;
  font-weight: 700;
}

.no-scroll{
  overflow-y: hidden;

}