//FONTS
$font-main: "Raleway", sans-serif;
$font-acccent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

//COLORS
$yellow: #d4c17f;
$dark: #242b33;
$light-gray: #e7e7e7;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;

//MEDIA
$tablet: 959px;
